
.h-custom {
  height: calc(100% - 73px);
}

/* Botão logout*/
.custom-btn-width {
  width: 150px; 
}

/* Header*/
.custom-header {
  height: 80px; 
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
